# Bank name:  Scratch Soundfont
# Date:       Sunday 10 May 2026, 18:23:37
# Made by:    Dogo6647
# Copyright:  Dogo6647 and Scratch Everywhere! contributors
# Tools:      Polyphone

bank 0 #N scratch
	0 scratch/1-piano-1
	4 scratch/2-epiano
	5 scratch/2-epiano-1
	8 scratch/17-music-box-1
	9 scratch/16-vibraphone-2
	10 scratch/17-music-box
	11 scratch/16-vibraphone
	12 scratch/19-marimba
	13 scratch/19-marimba-1
	14 scratch/16-vibraphone-3
	16 scratch/3-organ
	17 scratch/3-organ-1
	18 scratch/3-organ-2
	19 scratch/3-organ-3
	20 scratch/3-organ-4
	24 scratch/4-guitar
	25 scratch/5-eguitar-1
	26 scratch/4-guitar-2
	27 scratch/5-eguitar-4
	28 scratch/6-bass-8
	29 scratch/5-eguitar
	30 scratch/5-eguitar-2
	31 scratch/5-eguitar-3
	32 scratch/6-bass-7
	33 scratch/6-bass
	34 scratch/6-bass-1
	35 scratch/6-bass-2
	36 scratch/6-bass-3
	37 scratch/6-bass-4
	38 scratch/6-bass-5
	39 scratch/6-bass-6
	40 scratch/8-cello-1
	41 scratch/8-cello-2
	42 scratch/8-cello
	43 scratch/8-cello-3
	44 scratch/8-cello-4
	45 scratch/7-pizzicato
	46 scratch/7-pizzicato-1
	48 scratch/8-cello-5
	49 scratch/8-cello-6
	50 scratch/8-cello-7
	51 scratch/8-cello-8
	52 scratch/15-choir
	54 scratch/15-choir-1
	56 scratch/9-trombone-1
	57 scratch/9-trombone
	58 scratch/9-trombone-2
	59 scratch/9-trombone-7
	60 scratch/9-trombone-3
	61 scratch/9-trombone-4
	62 scratch/9-trombone-5
	63 scratch/9-trombone-6
	64 scratch/11-saxophone-3
	65 scratch/11-saxophone
	66 scratch/11-saxophone-1
	67 scratch/11-saxophone-2
	68 scratch/10-clarinet-1
	69 scratch/10-clarinet-2
	70 scratch/14-bassoon
	71 scratch/10-clarinet
	72 scratch/12-flute-1
	73 scratch/12-flute
	74 scratch/13-wooden-flute
	75 scratch/13-wooden-flute-2
	76 scratch/12-flute-2
	77 scratch/13-wooden-flute-1
	78 scratch/12-flute-3
	79 scratch/12-flute-4
	80 scratch/21-synth-pad
	81 scratch/20-synth-lead
	107 scratch/4-guitar-4
	108 scratch/19-marimba-2
	114 scratch/18-steel-drum
	115 scratch/woodblock
	116 scratch/tom-2
	117 scratch/tom
	118 scratch/tom-1

drumset 0 #N dk
	36 scratch-dk/dk-2-bass-drum
	37 scratch-dk/dk-3-side-stick
	38 scratch-dk/dk-1-snare
	39 scratch-dk/dk-8-hand-clap
	40 scratch-dk/dk-1-snare
	41 scratch-dk/dk-14-conga
	42 scratch-dk/dk-6-closed-hi-hat
	43 scratch-dk/dk-14-conga
	44 scratch-dk/dk-5-open-hi-hat
	45 scratch-dk/dk-14-conga
	46 scratch-dk/dk-5-open-hi-hat
	47 scratch-dk/dk-14-conga
	48 scratch-dk/dk-14-conga
	49 scratch-dk/dk-4-crash-cymbal
	50 scratch-dk/dk-14-conga
	51 scratch-dk/dk-5-open-hi-hat
	52 scratch-dk/dk-4-crash-cymbal
	53 scratch-dk/dk-5-open-hi-hat
	54 scratch-dk/dk-7-tambourine
	55 scratch-dk/dk-4-crash-cymbal
	56 scratch-dk/dk-11-cowbell
	57 scratch-dk/dk-4-crash-cymbal
	58 scratch-dk/dk-17-vibraslap
	59 scratch-dk/dk-4-crash-cymbal
	60 scratch-dk/dk-13-bongo
	61 scratch-dk/dk-14-conga
	62 scratch-dk/dk-14-conga
	63 scratch-dk/dk-14-conga
	64 scratch-dk/dk-14-conga
	65 scratch-dk/dk-14-conga
	66 scratch-dk/dk-14-conga
	69 scratch-dk/dk-15-cabasa
	73 scratch-dk/dk-16-guiro
	74 scratch-dk/dk-16-guiro
	75 scratch-dk/dk-9-claves
	76 scratch-dk/dk-10-wood-block
	77 scratch-dk/dk-10-wood-block
	78 scratch-dk/dk-18-cuica
	79 scratch-dk/dk-18-cuica
	80 scratch-dk/dk-12-triangle
	81 scratch-dk/dk-12-triangle
