name: Markdown Format Check

on:
  pull_request:
    branches: [main]

jobs:
  fmt-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: latest
      - name: Check Formating
        run: deno fmt --check *.md
