[Desktop Entry]
Name=Scratch Everywhere!
GenericName=Scratch Runtime
GenericName[en_US]=Scratch Runtime
GenericName[ja_JP]=Scratchランタイム
GenericName[ru_RU]=Среда выполнения Scratch
GenericName[es_ES]=Runtime de Scratch
GenericName[pt_PT]=Runtime do Scratch
GenericName[es_419]=Runtime de Scratch
Comment=A custom Scratch runtime written in C++!
Comment[en_US]=A custom Scratch runtime written in C++!
Comment[ja_JP]=C++で書かれたScratchランタイム！
Comment[ro_RO]=Un runtime de Scratch făcut în C++!
Comment[ru_RU]=Собственная среда выполнения Scratch написанная на C++!
Comment[es_ES]=¡Un runtime de Scratch hecho en C++!
Comment[pt_PT]=Um Runtime do Scratch escrito em C++!
Comment[es_419]=¡Un runtime de Scratch escrito en C++!
Keywords=scratch;se;scratch runtime;everywhere
Exec=scratch-pc %f
Icon=scratch-everywhere
Type=Application
Terminal=false
PrefersNonDefaultGPU=true
Categories=Game
MimeType=application/x-scratch-project;application/x-scratch2;application/x.scratch.sb;application/x.scratch.sb2;application/x.scratch.sb3;
